header {
  width: 100%;
  height: 56px;
  /* display: flex; */
  /* justify-content: space-between; */
  /* align-items: center;
  padding: 0 20px; */
  /* position: relative; */
}
.cabeca {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgba(5, 20, 75, 0.7), rgba(5, 20, 75, 0.7)), url("img/Background.png");
  background-repeat: repeat;
  background-size: cover;
  background-attachment: fixed;
  /* position: relative; */
}

.esquerda {
  /* font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 25px; */
  /* color: white; */
  -webkit-text-stroke: 1px #000000;
  margin-right: 35%;
}

.direita {
  /* font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 25px; */
  /* color: white; */
  -webkit-text-stroke: 1px #000000;
  margin-left: 75%;
}

.cabeca2{
  /* display: flex; */
}


h1, h2 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: white;
  -webkit-text-stroke: 1px #000000;
  margin-left: auto;
}

.header-line {
  /* position: absolute; */
  /* bottom: -5px; */
  /* left: 0;
  width: 100%;
  height: 1px; */
  background-color: #FFFFFF;
}

.logo-image {
  width: 80px;
  /* margin-top: 90px;
  margin-left: 20px;
  max-width: 130%;
  max-height: 130%; */
}


/*header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px; 
  width: calc(80% - 430px); 
  height: 1px;
  background-color: #FFFFFF;
}*/ 

/*header::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 20px; 
  width: calc(50% - 430px); 
  height: 1px;
  background-color: #FFFFFF;0}*/

.content {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.circle-container {
  /* position: absolute; */
  top: 85px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 144px;
  height: 144px;
}

.circle-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.botao_principal {
  border: none;
  /* position: absolute; */
  top: 550px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Montserrat, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: white;
  border-radius: 70px;
  padding: 20px 30px;
  background-color: #1A7CA6;
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  -webkit-text-stroke: 1px #000000;
  text-align: center;
}

.rosto-leitura {
  /* position: absolute; */
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 405.17px;
  height: 400px;
  border-radius: 40px;
}
